<h2>PRODUCTOS</h2>
{{#if products.length}}
  {{#each products}}
    <div class="eachProduct">
      <p>{{category}}</p>
      <p>{{title}}</p>
      <p>{{description}}</p>
      <p class="price">Precio: {{price}}</p>
      <p class="stock">Stock disponible: {{stock}}</p>
    </div>
  {{/each}}
{{else}}
  <h3>No hay productos disponibles</h3>
{{/if}}